{{template "header"}}
    <title>登陆 - 我的博客</title>
    <style text="text/css">
        body { padding-top: 70px; }
    </style>
</head>
<body>
    <div class="container" style="width: 500px">
        {{/*post方法提交表单到/login中去*/}}
        {{/*id 可用于javascript获取值  name用于发送到后台，后代用来接收得key*/}}
        <form role="form" method="post" action="/login">
            <div class="form-group">
                <label >Accounts</label>
                <input id="usname" class="form-control"  placeholder="Enter account" name="usname">
            </div>
            <div class="form-group">
                <label >Password</label>
                <input id="password" type="password" class="form-control"  placeholder="Password" name="password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="autologin"> 自动登陆
                </label>
            </div>
            {{/*return checkInput 如果为false 不会提交表单 也就不会跳转到主页上去*/}}
            <button type="submit" class="btn btn-default" onclick="return checkInput();">登陆</button>
            <button type="submit" class="btn btn-default" onclick="return ToHome();">返回</button>
        </form>
        {{/*判断account输入不为空*/}}
        <script type="text/javascript">
            function checkInput() {
                var usname = document.getElementById("usname");
                var password = document.getElementById("password");
                console.log(usname);
                console.log(password);
                if (usname.value.length == 0) {
                    alert("请输入账号");
                    return false;
                }
                if (password.value.length == 0) {
                    alert("请输入密码");
                    return false;
                }
                return true;
            }
            
            function ToHome() {
                // 当前页面打开网址 实现一个跳转
                window.location.href = "/";
                return false;
            }
        </script>
    </div>
</body>
</html>