{{template "header"}}
<title>文章 - 我的博客</title>
</head>
<body>
{{template "navbar" .}}

<div class="container">
    <h1>文章列表</h1>
    {{/*添加一个跳转到添加文章页面的按钮*/}}
    <a href="/topic/add" class="btn btn-default">添加文章</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#id</th>
            <th>文章名称</th>
            <th>最后更新</th>
            <th>浏览</th>
            <th>回复数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{range .topics}}
            <tr>
                <th>{{ .Id}}</th>
                <th>{{ .Title}}</th>
                <th>{{ .Updated}}</th>
                <th>{{ .Views}}</th>
                <th>{{ .ReplyCount}}</th>
                <th><a href="/topic/delete/{{.Id}}">删除</a> </th>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>