{{template "header"}}
<title>{{.topic.Title}} -  我的博客</title>
</head>
<body>
    {{template "navbar".}}
    <div class="container">
        {{$label := .lables}}
        {{with .topic}}
        <h1>{{ .Title}}</h1>
            <h5>
                {{range $label}}
                <a href="/?lable={{.}}">{{.}}</a>
                {{end}}
            </h5>
        {{ .Content}}
        {{end}}
    </div>

    <div class="container">
        {{/*获取到topic的id值*/}}
        {{$tid := .topic.Id}}
        {{$islogin := .IsLogin}}
        {{range .Replies}}
        <h3>{{.Nickname}}<small>{{.Created}}
                {{if $islogin}}<a href="/reply/delete/{{.Id}}/{{$tid}}">删除</a>{{end}}</small></h3>
        {{.Content}}
        {{end}}


        <h3>本文回复：</h3>
        <form method="post" action="/reply/add">
            <input type="hidden" name="tid" value="{{.topic.Id}}">
            <div class="form-group">
                <label>显示昵称：</label>
                <input type="text" class="form-control" name="nickname" id="">
            </div>

            <div class="form-group">
                <label>内容：</label>
                <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <button class="btn btn-default">提交评论</button>
        </form>
    </div>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>